body {
  margin: 0;
  font-family: Georgia;
  font-size: 17px;
}

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid black;
  height: 80px;
  background-color: white;
}

header nav {
  padding-right: 40px;
}

nav span {
  padding: 20px 10px;
}

h2 {
  font-size: 30px;
  margin: 0;
}

.logo {
display: flex;
align-items: center;
padding-left: 30px;
flex-grow: 1;
}

.logo img {
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
}

a {
  color: black;
}

.main-content {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

.column.large {
  width: 662px;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.medium {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-right: 32px;

}

.column.small {
  width: 240px;
  display: flex;
  flex-direction: column;
  margin-right: 32px;

}

.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.story-column {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: space-between;
}

.lead-story .image-content span {
  margin-left: 20px;
}

.stories .story-text {
  height: 250px;
}

.image-content {
  display: flex;
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 15px;
  align-items: center;
}

.lead-story .image-content {
  background-image: url("./resources/images/img-story-main.png");
  font-size: 40px;
  margin-top: 0px;
  text-align: left;
  width: 630px;
}

.story-1 .image-content {
  background-image: url("./resources/images/img-story-2.png");
}

.story-2 .image-content {
  background-image: url("./resources/images/img-story-3.png");
}

.story-3 .image-content {
  background-image: url("./resources/images/img-story-1.png");
}

.news-bites {
  display: flex;
  flex-direction: column;
}

.news-bites h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 41px;
}

.news-bites span {
  border-bottom: 1px solid black;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  padding: 11px 20px;
}

footer {
  width: 100%;
  height: 325px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  flex-direction: column;
}

footer span {
  display: inline-block;
}

footer nav {
  display: inline-block;
  padding-left: 25px;
}

.title {
  border-right: 2px solid white;
  padding-right: 25px;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
