body {
  margin: 0;
}

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid black;
  height: 80px;
  background-color: white;
}

header nav {
  padding-right: 40px;
}

.logo {
display: flex;
align-items: center;
padding-left: 30px;
flex-grow: 1;
}

.logo img {
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
}

a {
  color: black;
}

.main-content {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

.column.large {
  width: 630px;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.medium {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-right: 32px;

}

.column.small {
  width: 240px;
  display: flex;
  flex-direction: column;
  margin-right: 32px;

}

div {
  border: 2px solid black;
}
